[tool.poetry]
name = "django-render-static"
version = "1.1.3"
description = "Use Django's template engine to render static files at deployment time. Extend Django's url reverse mechanism to JavaScript."
authors = ["Brian Kohan <bckohan@gmail.com>"]
license = "MIT"
readme = "README.rst"
repository = "https://github.com/bckohan/django-render-static"
homepage = "https://django-render-static.readthedocs.io"
keywords = ["django", "static", "templates", "javascript", "url", "reverse", "defines"]
classifiers = [
    "Environment :: Console",
    "Framework :: Django",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Development Status :: 5 - Production/Stable",
    "Framework :: Django :: 2.2",
    "Framework :: Django :: 3.0",
    "Framework :: Django :: 3.1",
    "Framework :: Django :: 3.2",
    "Framework :: Django :: 4.0",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Internet :: WWW/HTTP :: Site Management",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
include = [
    "LICENSE",
]
packages = [
    { include = "render_static" }
]
exclude = ["render_static/tests"]

# [tool.poetry.scripts]
# django-renderstatic = 'render_static.console:main'

[tool.poetry.dependencies]
python = ">=3.6,<4.0"
Django = ">=2.2,<5.0"

Jinja2 = { version = ">=2.9,<4.0", optional = true }
importlib-resources = { version = ">=1.3.0,<6.0.0", optional = true }
PyYAML = { version = ">=5.1,<7.0", optional = true }

[tool.poetry.dev-dependencies]
pytest = "^6.2"
pytest-django = "^4.1.0"
Sphinx = "^4.0.3"
sphinx-rtd-theme = "^1.0.0"
mypy = "^0.931"
isort = "^5.6.4"
doc8 = "^0.10.1"
darglint = "^1.5.7"
pytest-cov = "^3.0.0"
pylint = "^2.6.0"
sphinx-argparse = "^0.3.0"
Js2Py = "^0.71"
deepdiff = "^5.2.3"
safety = "^1.10.3"
readme-renderer = "^32.0"
pygount = "^1.2.4"
types-PyYAML = "^6.0"
coverage = "^6.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.extras]
resources = ["importlib-resources"]
yaml = ["PyYAML"]
jinja2 = ["Jinja2"]
all = ["importlib-resources", "PyYAML", "Jinja2"]
