[tool.poetry]
name = "django-render-static"
version = "3.1.3"
description = "Use Django's template engine to render static files at deployment or package time. Includes transpilers for extending Django's url reversal and enums to JavaScript."
authors = ["Brian Kohan <bckohan@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/bckohan/django-render-static"
homepage = "https://django-render-static.readthedocs.io"
keywords = ["django", "static", "templates", "javascript", "url", "reverse", "defines", "transpiler", "transpile", "enum"]
classifiers = [
    "Environment :: Console",
    "Framework :: Django",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Development Status :: 5 - Production/Stable",
    "Framework :: Django :: 3.2",
    "Framework :: Django :: 4.0",
    "Framework :: Django :: 4.1",
    "Framework :: Django :: 4.2",
    "Framework :: Django :: 5.0",
    "Framework :: Django :: 5.1",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Internet :: WWW/HTTP :: Site Management",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

packages = [
    { include = "render_static" }
]

# [tool.poetry.scripts]
# django-renderstatic = 'render_static.console:main'

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
Django = ">=3.2,<6.0"
importlib-resources = { version = ">=1.3.0", python = "<3.9" }
Jinja2 = { version = ">=2.9,<4.0", optional = true }
PyYAML = { version = ">=5.1,<7.0", optional = true }
django-typer = "^2.1.1"

[tool.poetry.group.dev.dependencies]
django-enum = ">=1.1.0"
enum-properties = ">=1.1.1"
pytest = "^8.0"
pytest-django = ">=4.8.0"
Sphinx = ">=7.0.0"
mypy = ">=1.8"
doc8 = ">=1.1.0"
pytest-cov = ">=4.1.0"
deepdiff = ">=6.7.0"
readme-renderer = {extras = ["md"], version = ">=43.0"}
types-PyYAML = ">=6.0"
coverage = ">=7.5.0"
importlib-metadata = ">=7.0.0"
selenium = ">=4.16.0"
python-dateutil = ">=2.8.2"
ipdb = ">=0.13.13"
aiohttp = ">=3.9.1"
sphinxcontrib-typer = {extras = ["html", "pdf", "png"], version = ">=0.3.0", markers="python_version >= '3.9'"}
pyright = ">=1.1.366"
ruff = ">=0.4.8"
django-stubs = {extras = ["compatible-mypy"], version = ">=5.0.2"}
furo = ">=2024.8.6"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.extras]
yaml = ["PyYAML"]
jinja2 = ["Jinja2"]
all = ["PyYAML", "Jinja2"]


[tool.mypy]
allow_redefinition = false
check_untyped_defs = true
disallow_untyped_decorators = false
disallow_any_explicit = false
disallow_any_generics = false
disallow_untyped_calls = true
ignore_errors = false
ignore_missing_imports = true
implicit_reexport = false
strict_optional = true
strict_equality = true
local_partial_types = true
no_implicit_optional = true
warn_unused_ignores = true
warn_redundant_casts = true
warn_unused_configs = true
warn_unreachable = true
warn_no_return = true


[tool.doc8]
ignore-path = "doc/build"
max-line-length = 100
sphinx = true



[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "tests.settings"
norecursedirs = "*.egg .eggs dist build docs .tox .git __pycache__"
addopts = [
    "--strict-markers",
    "--cov=render_static",
    "--cov-branch",
    "--cov-report=term-missing:skip-covered",
]

[tool.coverage.run]
omit = [
  "tests/app1/static_jinja2/batch_test/**/*",
  "tests/app1/static_jinja2/**/*",
  "tests/app2/static_jinja2/**/*"
]

[tool.ruff]
line-length = 88
exclude = [
    "doc",
    "dist",
    "examples",
    "tests/resources/bad_code.py"
]

[tool.ruff.lint]
exclude = [
    "tests/**/*",
]

[tool.pyright]
exclude = ["tests/**/*"]
include = [
    "render_static"
]
