[tool.poetry]
name = "django-render-static"
version = "2.0.3"
description = "Use Django's template engine to render static files at deployment or package time. Includes transpilers for extending Django's url reversal and enums to JavaScript."
authors = ["Brian Kohan <bckohan@gmail.com>"]
license = "MIT"
readme = "README.rst"
repository = "https://github.com/bckohan/django-render-static"
homepage = "https://django-render-static.readthedocs.io"
keywords = ["django", "static", "templates", "javascript", "url", "reverse", "defines", "transpiler", "transpile", "enum"]
classifiers = [
    "Environment :: Console",
    "Framework :: Django",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Development Status :: 5 - Production/Stable",
    "Framework :: Django :: 3.2",
    "Framework :: Django :: 4.0",
    "Framework :: Django :: 4.1",
    "Framework :: Django :: 4.2",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Internet :: WWW/HTTP :: Site Management",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

packages = [
    { include = "render_static" }
]
exclude = ["render_static/tests"]

# [tool.poetry.scripts]
# django-renderstatic = 'render_static.console:main'

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
Django = ">=3.2,<5.0"
#Django = [
#    { version = "<4.0.0", python = ">=3.7,<=3.10" },
#    { version = ">4.0.0,<4.1.0", python = ">=3.8,<3.11" },
#    { version = ">4.1.0", python = ">=3.8" }
#]
importlib-resources = { version = ">=1.3.0", python = "<3.9" }
Jinja2 = { version = ">=2.9,<4.0", optional = true }
PyYAML = { version = ">=5.1,<7.0", optional = true }

[tool.poetry.group.dev.dependencies]
django-enum = "^1.1.0"
enum-properties = "^1.1.1"
pytest = "^7.0"
pytest-django = "^4.1.0"
Sphinx = [
    { version = "<7.0", markers = "python_version < '3.9'" },
    { version = "^7.0", markers = "python_version >= '3.9'" },
]
sphinx-js = [
    { version = "<3.0", markers = "python_version < '3.8'" },
    { version = "^3.0", markers = "python_version >= '3.8'" },
]
sphinx-rtd-theme = "^1.1.1"
mypy = ">=0.991,<1.5"
isort = "^5.6.4"
doc8 = "^0.11.0"
darglint = "^1.5.7"
pytest-cov = "^4.0.0"
pylint = [
    { version = "<3.0", markers = "python_version <= '3.7'" },
    { version = "^3.0", markers = "python_version > '3.7'" },
]
sphinx-argparse = "^0.3.0"
deepdiff = "^5.2.3"
safety = "^2.0.0"
readme-renderer = ">=34,<38"
pygount = "^1.2.4"
types-PyYAML = "^6.0"
coverage = ">=6.2,<8.0"
importlib-metadata = [
    { version = "<5.0", python = "<=3.7" },
    { version = ">=5.0", python = ">3.7" },
]
selenium = "^4.7.2"
python-dateutil = "^2.8.2"
ipdb = "^0.13.13"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.extras]
yaml = ["PyYAML"]
jinja2 = ["Jinja2"]
all = ["PyYAML", "Jinja2"]
