[tool.poetry]
name = "django-render-static"
version = "0.1.0"
description = "Use Django's template engine to generate static files at deployment time."
authors = ["Brian Kohan <bckohan@gmail.com>"]
license = "MIT"
readme = "README.rst"
repository = "https://github.com/bckohan/django-render-static"
homepage = "https://django-render-static.readthedocs.io"
keywords = ["django", "static", "templates", "javascript", "url", "reverse", "defines"]
classifiers = [
    "Environment :: Console",
    "Framework :: Django",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Development Status :: 4 - Beta",
    "Framework :: Django :: 2.2",
    "Framework :: Django :: 3.0",
    "Framework :: Django :: 3.1",
    "Framework :: Django :: 3.2",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Internet :: WWW/HTTP :: Site Management",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
include = [
    "LICENSE",
]
packages = [
    { include = "render_static" }
]
exclude = ["render_static/tests"]

[tool.poetry.dependencies]
python = "^3.6"
Jinja2 = "^2.9"
Django = "^2.2||^3.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
pytest-django = "^4.1.0"
Sphinx = "^3.3.1"
sphinx-rtd-theme = "^0.5.0"
mypy = "^0.790"
isort = "^5.6.4"
doc8 = "^0.8.1"
darglint = "^1.5.7"
pytest-cov = "^2.11.1"
pylint = "^2.6.0"
sphinx-argparse = "^0.2.5"
Js2Py = "^0.70"
deepdiff = "^5.2.3"
safety = "^1.10.3"
readme-renderer = "^29.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
